#leftSidebar{
    float: left;
    height: 100%;
    width: 20%;

    button{
        border: none;
        border-radius: 20px;
        color: white;
        display: block;
        margin: 20px 0px;
        padding: 10px 20px;
        width: 100%;
    }

    ul{
        margin: 0px auto;
        padding: 0px;
        text-align: center;
        width: 90%;

        li{
            border-radius: 20px;
            color: white;
            padding: 5px 0px;
        }
    }
}

#svg-container{
    float: right;
    height: 100%;
    width: 80%;
}