section{
    min-width: 0; //Needed to ensure that the radar scales well
}

#left-sidebar{
    flex: 15%;
    height: 100%;
    margin: 0px 2.5%;

    button{
        border: none;
        border-radius: 20px;
        color: white;
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
        width: 100%;
    }

    ul{
        padding: 0px;
        text-align: center;

        li{
            border-radius: 20px;
            color: white;
            padding: 5px 0px;
        }
    }
}

#svg-container{
    flex: 65%;
    height: 100%;
}

#right-sidebar{
    background: black;
    flex: 15%;
    height: 100%;

    ul{
        padding: 0px;
        text-align: center;

        li{
            font-size: 130%;
        }
    }
}